<h3>Updates</h3>
<table> 
  <tr>
    <th><%= u.label :cs_update, "Customer Update" %>
    <th><%= u.label :tech_update, "Technical Update" %>
  </tr>
  <tr>
    <td><%= u.text_area :cs_update, :rows => 3 %></td>
    <td><%= u.text_area :tech_update, :rows => 3 %></td>
  </tr>
</table>
