<%# link_to("<< Back to List", {:action => 'index'} ) %>

<h2>Update Incident</h2>
<%= form_for(@incident, :url => {:action => 'update', :id => @incident.id}) do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <%= submit_tag("Update Incident", class: "btn btn-success pull-right") %>
  <%= link_to("Cancel", {:action => 'index'}, class: "btn btn-danger pull-left") %><br />
<% end %>
