<%= link_to("<< Back to List", {:action => 'index'} ) %>

<h2>New Incident</h2>
<%= form_for(@incident, :url => {:action => 'create'} ) do |f| %>
<%# form_for @incident do |f| %>
  <%= render(:partial => "form", :locals => {:f => f}) %>
  <%= submit_tag("Create Incident") %>
  <%# f.submit %>
<% end %>

