<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a test <%# @user.name %>!</h1>
    <p><%= @incident.title %></p>
    <p>Test some things</p>
  </body>
</html>
